hr {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0.5rem 0 0.5rem 0;
}

.container {
    width: 100%;
    min-height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;

    padding-bottom: 4rem;
}

.card-title,
.card-body,
.card-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    user-select: none;
}

.card-title > h1 {
    color: midnightblue;
    font-size: 9rem;
    cursor: pointer;
}
.card-title > h2 {
    font-size: 2rem;
}

.card-body {
    gap: 0.75rem;

    padding: 0.75rem 0.5rem;
}

.card-body > * {
    width: 100%;
}
.card-body > select,
button {
    padding: 0.5rem;
    border-radius: 10px;
}
.card-body > button {
    border: 1px solid green;
    background-color: transparent;
    transition: background-color 64ms;
}
.card-body > button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.card-result {
    gap: 0.25rem;
    margin-top: 1rem;
    transition: opacity 2000ms 750ms;
}

.card-result > #result {
    font-size: 4rem;
    font-weight: 500;
    cursor: pointer;
}
.card-result > #probability {
    opacity: 80%;
    user-select: none;
}

.hidden {
    opacity: 0;
}
